.grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.par {
    display: none;
}

@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .par {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}