body {   
    font-family: Arial, Helvetica, sans-serif;

}
 
h1 {
    color: rebeccapurple;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 5px dotted rebeccapurple;
}

  
h2 {
    font-size: 1.5em;
}
  
.job-title {
    color: #999999;
    font-weight: bold;
}
  
a:link, a:visited {
    color: green;
}
  
a:hover {
    text-decoration: none;
}

ul{
    border: solid rebeccapurple 5px;
    width: 175px;
}